<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.arfakhalif.androidexample"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Shoot'Em Up</name>

  <description>
      Air Force Shoot Game.
  </description>

  <author href="https://www.arfa_gaming.com" email="arfa.khalif29@gmail.com">
      Arfa Khalif Rasendriya
  </author>
  
  <icon src="icon.png" />

</widget>